window {
  background-color: rgba(19, 19, 36, 0.925);
  border: 2px solid rgba(80, 80, 80, 0.925);
  border: 2px solid rgba(255, 1, 233, 0.925);
  border: 2px solid rgba(255, 255, 255, 0.65);
  border: 2px solid rgba(100, 100, 100, 0.925);
  border-radius: 10px;
}

#input {
  color: white;
  font-family: 'Fira Code', monospace;
  padding: 16px 16px 8px 32px;
  margin: 0;
  margin-bottom: 12px;

  border: 2px solid rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  border: 2px solid rgba(255, 1, 233, 0.925);
  border-bottom: 1px solid rgba(255, 1, 233, 0.925);
  border: 2px solid rgba(100, 100, 100, 0.925);
  border-bottom: 1px solid rgb(100, 100, 100);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  background-image: url("{{ .homeDir }}/.config/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 24px 18px;
  background-size: 24px 24px;
}

#input image {
  -gtk-icon-transform:scaleX(0);
  padding-right: 16px;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#entry {
  padding: 12px 12px;
  margin: 0 12px;
  margin-bottom: 8px;
}

#entry:selected {
  outline: none;
  background-color: rgba(255, 1, 233, 0.925);
  font-weight: bold;
}

#text {
  font-family: 'Fira Code', monospace;
  padding-left: 24px;
  color: white;
}
